<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Books</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .tag {
            display: inline-block;
            background-color: #f0f0f0;
            border-radius: 3px;
            padding: 2px 6px;
            margin-right: 5px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div id="general-books-list" class="row flex-column"></div>

<!--    <script src="path/to/your/javascript.js"></script>-->
</body>